.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

body {
  background: #17202e!important;
}

.dropdown-toggle {
  background: #131924;
}

.dropdown-menu {         
  max-height: 300px;
  overflow-y: auto;
}

.navbar {
  background: #131924;
}

.nav-width {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.grid-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem;
  height: calc(100%);
  background: #202a3b!important;
  color: white;
  text-align: left;
  box-shadow: 0 0 3px 3px rgba(15, 17, 32, 0.5);
}

.row-styled {
  padding-top: 1.5rem;
}

.card-title-style {
  font-weight: 600;
  letter-spacing: 0.08rem;
  color: #bbbbbb;
}

.card-data-style {
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 0.08rem;
}

.card-value {
  padding-top: 1.5rem;
}

.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.navbar-text {
  padding-right: 1rem;
}

svg path {
  stroke: #bbbbbb;
}

.icon-styled {
  position: absolute;
  right: 0.8rem;
}

.footer-style {
  line-height: 1.2rem;
}

.footer-text {
  margin: auto;
  cursor: pointer;
}

.footer-container {
  margin-bottom: 5rem;
}

.card-text-style {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08rem;
  text-align: left;
  text-decoration: none;
}

.dropdown-item {
  color: black;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

.link-icon-style {
  margin-left: 1rem;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (max-width: 576px) { 
  .row-styled {
    margin-top: 1.5rem;
  }
  .col-lg-3 {
    padding-top: 1.5rem;
  }
  .card-text-style {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .card-text-style {
    font-size: 15px;
  }
}

@media (max-width: 992px) { 
  .col-lg-3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1.5rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}